.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-heading {
  text-align: center;
  color: var(--text-color);
}

.about-text {
  grid-area: about-text;

  text-align: justify;

  line-height: 1.6;
  font-size: 1.1rem;

  color: var(--text-color);
}

.about-img {
  grid-area: img;

  margin: 2rem 0;
  width: 320px;
  height: 359px;

  border-radius: 10px;
}

@media (min-width: 57rem) {
  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .about-text {
    width: 55%;
  }
}
